p {
    font-size: 30px;
}
form {
    
    margin: 0 auto;
    width: 30%;
    
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}
#survey-form {
    background-color: white;
}
div{
    margin: 10px;
}
body {
    font-size:x-large;
    text-align: center;
    background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}
fieldset { 
    border:1px solid lightgray;
    margin: 10px;
}
legend {
    font-weight: 700;
}
h1{
    color: rgb(0, 0, 0);
}