p {
    font-size: 30px;
}
form {
    
    margin: 0 auto;
    width: 30%;
    
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}
#survey-form {
    background-color: white;
}
div{
    margin: 10px;
}
body {
    font-size:x-large;
    text-align: center;
    background-image: linear-gradient(to top, #505285 0%, #585e92 12%, #65689f 25%, #7474b0 37%, #7e7ebb 50%, #8389c7 62%, #9795d4 75%, #a2a1dc 87%, #b5aee4 100%);
}
fieldset { 
    border:1px solid lightgray;
    margin: 10px;
}
legend {
    font-weight: 700;
}
h1{
    color: rgb(0, 0, 0);
}